<manifest package = "studio.archangel.toolkit3"
          xmlns:android = "http://schemas.android.com/apk/res/android">

	<application
		android:allowBackup = "true"
		android:supportsRtl = "true">
		<provider
			android:name = ".utils.AngelFileProvider"
			android:authorities = "studio.archangel.toolkit3.fileprovider"
			android:exported = "false"
			android:grantUriPermissions = "true">
			<meta-data
				android:name = "android.support.FILE_PROVIDER_PATHS"
				android:resource = "@xml/filepaths"/>
		</provider>
	</application>
</manifest>
